<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% end %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{ static_url("css/bootstrap.css") }}" rel="stylesheet">
        <link href="{{ static_url("css/custom.css") }}" rel="stylesheet">
        <link href="{{ static_url("css/bootstrap-responsive.css") }}" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
                   <link rel="shortcut icon" href="/ico/favicon.png"> -->
    </head>

    <body>

        <div class="container">
            <header>
                <h1><a href="#">Galaxy</a></h1>
                <nav>
                    <a type="button" class="btn btn-inverse" href="#jupiter">Jupiter</a>
                    <a type="button" class="btn btn-inverse" href="#saturn">Saturn</a>
                    <a type="button" class="btn btn-inverse" href="#pluto">Pluto</a>
                </nav>
            </header>
            {% block content %}
            {% end %}
        </div> <!-- /container -->

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ static_url("js/jquery-1.9.0-min.js") }}"></script>
        <script src="{{ static_url("js/bootstrap.js") }}"></script>
        <!--
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap-transition.js"></script>
        <script src="/js/bootstrap-alert.js"></script>
        <script src="/js/bootstrap-modal.js"></script>
        <script src="/js/bootstrap-dropdown.js"></script>
        <script src="/js/bootstrap-scrollspy.js"></script>
        <script src="/js/bootstrap-tab.js"></script>
        <script src="/js/bootstrap-tooltip.js"></script>
        <script src="/js/bootstrap-popover.js"></script>
        <script src="/js/bootstrap-button.js"></script>
        <script src="/js/bootstrap-collapse.js"></script>
        <script src="/js/bootstrap-carousel.js"></script>
        <script src="/js/bootstrap-typeahead.js"></script>
        -->
    </body>
</html>
