{% extends "base.html" %}
{% block title %}Test A Site{% end %}
{% block content %}


    <h1>Galaxy</h1>
    <p><h3>Synopsis &amp; Reasoning</h3>
        [21:55] &lt;+mrout&gt; Taneb: welcome<br />
        [21:55] &lt;+Taneb&gt; Hey<br />
        [21:55] &lt;+mrout&gt; drama has occurred. :(<br />
        [21:56] &lt;+Taneb&gt; I saw some of it<br />
        [21:56] &lt;+Taneb&gt; What was the result?<br />
        [21:57] &lt;+mrout&gt; jdiez left<br />
        [21:57] &lt;+mrout&gt; semi-permanently.<br />
        [21:58] &lt;+mrout&gt; in the words of Stary2001, he pulled a SirCmpwn<br />
        [21:58] &lt;+mrout&gt; DCPUToolchain2 no longer exists.<br />
        [21:58] &lt;+mrout&gt; hachque has said that we can't use that name for a C++ toolchain<br />
        [21:59] &lt;+mrout&gt; so now it's galaxy<br />
    </p>

{% end %}
