{% extends "base.html" %}
{% block title %}Galaxy{% end %}
{% block content %}
    <div class="enclosure space_below" id="intro">
        <h4>
            Galaxy is a toolchain envisioned to be:
        </h4>
        <ul>
            <li>clean</li>
            <li>easy to use</li>
            <li>specification compliant</li>
            <li>written to take advantage of the new features in C++11 (and beyond)</li>
            <li>pleasant API</li>
        </ul>
    </div>

    <div class="enclosure space_below" id="roadmap">
        <h4>Roadmap</h4>
        <ol>
            <li><span title="Jupiter">Assembler</span></li>
            <li><span title="Saturn">Emulator</span></li>
            <li><span title="Pluto">Linker</span></li>
        </ol>
    </div>

    <div class="enclosure space_below" id="contributors">
        <h4>Contributors</h4>
        <ul>
            <li>mrout, the Colonist</li>
            <li>Lord_DeathMatch, the Criminal</li>
            <li>ThatOtherPerson, the Crusader</li>
            <li>r4d2, the Chalmerist</li>
            <li>Taneb, the Cadet</li>
        </ul>
    </div>
{% end %}
