{% extends "base.html" %}
{% block title %}Galaxy{% end %}
{% block content %}
    <div class="enclosure space_below">
        <h4>
            Galaxy is a toolchain envisioned to be:
        </h4>
        <ul>
            <li>clean</li>
            <li>easy to use</li>
            <li>specification compliant</li>
            <li>written to take advantage of the new features in C++11 (and beyond)</li>
        </ul>
    </div>

    <div class="enclosure space_below">
        <h4>Roadmap</h4>
        <ol>
            <li><attr title="Jupiter">Assembler</attr></li>
            <li><attr title="Saturn">Emulator</attr></li>
            <li><attr title="Pluto">Linker</attr></li>
        </ol>
    </div>
{% end %}
